In [100]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [101]:
train= pd.read_csv(r"C:\Users\navya\OneDrive\Documents\Navya\data_science\data_science_pratice\machine learning\ML-CODE-QUALITY THOUGHT\project-data set\classification_project\train.csv")
test=pd.read_csv(r"C:\Users\navya\OneDrive\Documents\Navya\data_science\data_science_pratice\machine learning\ML-CODE-QUALITY THOUGHT\project-data set\classification_project\test.csv")

In [102]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
train.shape

(891, 12)

In [5]:
train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [6]:
train_num= train.select_dtypes(include=[np.number])
train_cat=train.select_dtypes(include='object')

In [7]:
train_num.isnull().sum().sort_values(ascending=False)

Age            177
PassengerId      0
Survived         0
Pclass           0
SibSp            0
Parch            0
Fare             0
dtype: int64

In [8]:
train_cat.isnull().sum().sort_values(ascending=False)

Cabin       687
Embarked      2
Name          0
Sex           0
Ticket        0
dtype: int64

In [9]:
nonecol=["Cabin","Embarked"]

In [10]:
for col in nonecol:
    train_cat[col].fillna('No Value',inplace= True)

c:\Users\navya\anaconda3\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [11]:
train_cat.isnull().sum().sort_values(ascending=False)

Name        0
Sex         0
Ticket      0
Cabin       0
Embarked    0
dtype: int64

In [12]:
train_num.Age.fillna(train_num.Age.value_counts().median(),inplace=True)

In [13]:
train_num.isnull().sum().sort_values(ascending=False)

PassengerId    0
Survived       0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

In [58]:
train_num.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Age            float64
SibSp            int64
Parch            int64
Fare           float64
dtype: object

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
le=LabelEncoder()
train_cat_le= train_cat.apply(le.fit_transform)

In [16]:
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler

In [17]:

mm_scaler=preprocessing.MinMaxScaler()

In [18]:
train_num_mm= mm_scaler.fit_transform(train_num)

In [19]:
pd.DataFrame(train_num_mm)

            0    1    2         3      4         5         6
0    0.000000  0.0  1.0  0.271174  0.125  0.000000  0.014151
1    0.001124  1.0  0.0  0.472229  0.125  0.000000  0.139136
2    0.002247  1.0  1.0  0.321438  0.000  0.000000  0.015469
3    0.003371  1.0  0.0  0.434531  0.125  0.000000  0.103644
4    0.004494  0.0  1.0  0.434531  0.000  0.000000  0.015713
..        ...  ...  ...       ...    ...       ...       ...
886  0.995506  0.0  0.5  0.334004  0.000  0.000000  0.025374
887  0.996629  1.0  0.0  0.233476  0.000  0.000000  0.058556
888  0.997753  0.0  1.0  0.057552  0.125  0.333333  0.045771
889  0.998876  1.0  0.0  0.321438  0.000  0.000000  0.058556
890  1.000000  0.0  1.0  0.396833  0.000  0.000000  0.015127

[891 rows x 7 columns]

In [20]:
traindf=pd.concat([pd.DataFrame(train_num_mm),train_cat_le],axis=1)

In [21]:

traindf.rename(columns={0:"PassengerId",1:"Survived",2:"Pclass",3:"Age",4:"SibSp",5:"Parch",6:"Fare"},inplace=True)

In [22]:
traindf

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Name,Sex,Ticket,Cabin,Embarked
0,0.000000,0.0,1.0,0.271174,0.125,0.000000,0.014151,108,1,523,146,3
1,0.001124,1.0,0.0,0.472229,0.125,0.000000,0.139136,190,0,596,81,0
2,0.002247,1.0,1.0,0.321438,0.000,0.000000,0.015469,353,0,669,146,3
3,0.003371,1.0,0.0,0.434531,0.125,0.000000,0.103644,272,0,49,55,3
4,0.004494,0.0,1.0,0.434531,0.000,0.000000,0.015713,15,1,472,146,3
...,...,...,...,...,...,...,...,...,...,...,...,...
886,0.995506,0.0,0.5,0.334004,0.000,0.000000,0.025374,548,1,101,146,3
887,0.996629,1.0,0.0,0.233476,0.000,0.000000,0.058556,303,0,14,30,3
888,0.997753,0.0,1.0,0.057552,0.125,0.333333,0.045771,413,0,675,146,3
889,0.998876,1.0,0.0,0.321438,0.000,0.000000,0.058556,81,1,8,60,0
890,1.000000,0.0,1.0,0.396833,0.000,0.000000,0.015127,220,1,466,146,2

In [26]:

X_train=traindf.drop(["Survived","PassengerId"],axis=1)

In [27]:
y_train=traindf.Survived

In [28]:
from sklearn.linear_model import LogisticRegression

In [29]:
Logreg= LogisticRegression()
logregmodel=Logreg.fit(X_train,y_train)

c:\Users\navya\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [30]:
logregmodel.score(X_train,y_train)

0.7789001122334456

In [31]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_estimators=100)
rf.fit(X_train,y_train)

RandomForestClassifier()

In [32]:
rf.score(X_train,y_train)

1.0

In [33]:
test.shape

(418, 11)

In [34]:
test.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [60]:
test.dtypes

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [65]:
test_num= test.select_dtypes(include=[np.number])
test_cat=test.select_dtypes(include=['object'])

In [66]:
test_num.isnull().sum().sort_values(ascending=False)

Age            86
Fare            1
PassengerId     0
Pclass          0
SibSp           0
Parch           0
dtype: int64

In [67]:
test_num.Fare.fillna(test_num.Fare.value_counts().median(),inplace=True)

c:\Users\navya\anaconda3\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [68]:
test_num.Age.fillna(test_num.value_counts().median(),inplace=True)

In [69]:
test_num.isnull().sum().sort_values(ascending=False)
test_num.Fare.fillna(test_num.Fare.value_counts().median(),inplace=True)

In [70]:
test_num.dtypes

PassengerId      int64
Pclass           int64
Age            float64
SibSp            int64
Parch            int64
Fare           float64
dtype: object

In [71]:
test_cat.isnull().sum().sort_values(ascending=False)

Cabin       327
Name          0
Sex           0
Ticket        0
Embarked      0
dtype: int64

In [72]:
for i in nonecol:
    test_cat[i].fillna('No Value',inplace=True)

In [73]:
test_cat.isnull().sum().sort_values(ascending=False)

Name        0
Sex         0
Ticket      0
Cabin       0
Embarked    0
dtype: int64

In [74]:
test_cat_le=test_cat.apply(le.fit_transform)

In [79]:

test_num_mm=mm_scaler.fit_transform(test_num)

In [103]:
test_num.head()

   PassengerId  Pclass   Age  SibSp  Parch     Fare
0          892       3  34.5      0      0   7.8292
1          893       3  47.0      1      0   7.0000
2          894       2  62.0      0      0   9.6875
3          895       3  27.0      0      0   8.6625
4          896       3  22.0      1      1  12.2875

In [104]:
test_df=pd.concat([pd.DataFrame(test_num_mm),test_cat_le],axis=1)

In [105]:
test_df.head(5)

,0,1,2,3,4,5,Name,Sex,Ticket,Cabin,Embarked
0,0.000000,1.0,0.452723,0.000,0.000000,0.015282,206,1,152,76,1
1,0.002398,1.0,0.617566,0.125,0.000000,0.013663,403,0,221,76,2
2,0.004796,0.5,0.815377,0.000,0.000000,0.018909,269,1,73,76,1
3,0.007194,1.0,0.353818,0.000,0.000000,0.016908,408,1,147,76,2
4,0.009592,1.0,0.287881,0.125,0.111111,0.023984,178,0,138,76,2

In [107]:
test_df.rename(columns={0:"PassengerId",1:"Pclass",2:"Age",3:"SibSp",4:"Parch",5:"Fare"},inplace=True)

In [108]:
test_df.head()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Name,Sex,Ticket,Cabin,Embarked
0,0.000000,1.0,0.452723,0.000,0.000000,0.015282,206,1,152,76,1
1,0.002398,1.0,0.617566,0.125,0.000000,0.013663,403,0,221,76,2
2,0.004796,0.5,0.815377,0.000,0.000000,0.018909,269,1,73,76,1
3,0.007194,1.0,0.353818,0.000,0.000000,0.016908,408,1,147,76,2
4,0.009592,1.0,0.287881,0.125,0.111111,0.023984,178,0,138,76,2

In [109]:
x_test=test_df.drop(["PassengerId"],axis=1)

In [110]:
x_test.shape

(418, 10)

In [111]:
x_test.head()

,Pclass,Age,SibSp,Parch,Fare,Name,Sex,Ticket,Cabin,Embarked
0,1.0,0.452723,0.000,0.000000,0.015282,206,1,152,76,1
1,1.0,0.617566,0.125,0.000000,0.013663,403,0,221,76,2
2,0.5,0.815377,0.000,0.000000,0.018909,269,1,73,76,1
3,1.0,0.353818,0.000,0.000000,0.016908,408,1,147,76,2
4,1.0,0.287881,0.125,0.111111,0.023984,178,0,138,76,2

In [112]:
y_pre_logreg=logregmodel.predict(x_test)

In [113]:
y_logreg=pd.DataFrame(y_pre_logreg)

In [116]:
y_predict_rf=rf.predict(x_test)
y_rf=pd.DataFrame(y_predict_rf)

In [117]:
from sklearn.ensemble import GradientBoostingClassifier
GBC=GradientBoostingClassifier(n_estimators=10000)
GBC.fit(X_train,y_train)
GradientBoostingClassifier(n_estimators=10000)
GBC.score(X_train,y_train)
y_predict_gbc=GBC.predict(x_test)

In [118]:
y_gbc=pd.DataFrame(y_predict_gbc)

In [120]:
from sklearn import svm
model = svm.SVC()
model.fit(X_train,y_train)
model.score(X_train,y_train)
y_predict_svc=model.predict(x_test)
y_svc=pd.DataFrame(y_predict_svc)

In [121]:
y_logreg.to_csv('titanic_logreg_20J.csv')
y_rf.to_csv('titanic_rf.csv')
y_gbc.to_csv('titanic_gbc_20J.csv')
y_svc.to_csv('titanic_svc_20J_linear.csv')